@keyframes card {
    0% {
        color: #4169E1;
    }

    20% {
        color: #F77F60;
    }

    40% {
        color: #4874F7;
    }

    60% {
        color: #A0F72F;
    }

    80% {
        color: #72AB29;
    }

    100% {
        color: #4169E1;
    }
}

li:nth-child(1) {
    animation-delay: 0s;
}

li:nth-child(2) {
    animation-delay: 0.2s;
}

li:nth-child(3) {
    animation-delay: 0.4s;
}

li:nth-child(4) {
    animation-delay: 0.6s;
}

li:nth-child(5) {
    animation-delay: 0.8s;
}

li:nth-child(6) {
    animation-delay: 1s;
}