main {
    display: flex; 
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 5rem 15rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
}

.container h1 {
    font-size: 10rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -5px;
    text-align: center;
}

.container ul {
    display: flex;
    align-items: center;

    font-size: 10rem;
    font-weight: 800;
}

.container li {
    letter-spacing: -10px;

    animation: cardAnimation 5s linear infinite;
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    background: var(--white);
    border: 1px solid var(--beau-blue);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 1px var(--baby-blue-eyes);
}

.check img {
    width: 40rem;
    height: 40rem;

    margin-top: -2rem;
}

.check form {
    display: flex;
    align-items: center;

    width: 35rem;
    height: 5rem;
    margin: 1.5rem 0 1rem;

    border: 1px solid var(--corante-indigo);
    border-radius: 2rem;
}

.check form img {
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem 0 1.5rem;
}

.check form input {
    width: 80%;

    font-size: 2rem;
    font-weight: 200;
}

.check button {
    width: 35rem;
    height: 5rem;
    border-radius: 2rem;

    background: var(--tufts-blue);

    font-size: 2rem;
    font-weight: 200;
    color: var(--white);
}

.check button:hover {
    cursor: pointer;
    background: var(--slate-blue);
}

@media screen and (max-width: 768px) {
    main {
        display: none;
    }
}