footer {
    padding: 3rem;

    display: grid;
    grid-template-columns: 1fr 2fr 3fr 3fr;
    grid-template-rows: 3fr 1fr 2fr;
    grid-gap: 1rem;

    background: var(--aquamarine);
}

footer .brandLogo img {
    width: 5rem;
    height: 5rem;
}

footer h1 {
    margin-bottom: 1rem;

    font-size: 1.6rem;
    font-weight: 600;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

footer a {
    font-weight: 400;
}

footer .line {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: 1px solid var(--rich-black-fogra);
}

footer .social {
    display: flex;
    flex-direction: row-reverse;
    grid-column-start: 4;
    grid-column-end: 5;
}

footer .social img {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
    footer {
        display: none;
    }
}