footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;

    background: #475378;
}

footer .data {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

footer .company {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

footer .company img {
    width: 6rem;
    height: 6rem;
    margin-right: 0.5rem;
}

footer .company h2 {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

footer .social {
    display: flex;
    align-items: center;
}

footer .social img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

footer .credits h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

footer .credits h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

footer a {
    font-weight: 600;
}