header {
    padding: 1rem;
    border-bottom: 1px groove var(--tufts-blue);
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 2rem 0 5rem;
}

header a.buttonCurrentPage {
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background: var(--tufts-blue);

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--rich-black-fogra);
}

header a.buttonCurrentPage:hover {
    opacity: 0.9;
}

header a.button {
    margin-right: 20px;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--tufts-blue);
}

header a.button:hover {
    color: var(--rich-black-fogra);

    border-bottom: 1px solid var(--tufts-blue);
}