main {
    display: flex;
    flex: 1;
    padding: 2rem;
}



.containerHistoric {
    width: 100%;
}

.historic {
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #DEDEDE;
    margin-bottom: 1rem;
}

.containerHistoric img {
    width: 3vw;
    margin-left: 1rem;
}