* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

:root {
    font-size: 62.5%;

    /* --purple: #7400B8; */
    /* --french-violet: #6930C3; */
    --slate-blue: #5E60CE;
    --tufts-blue: #5390D9;
/*     --blue-jeans: #4EA8DE;
    --vivid-sky-blue: #48BFE3;
    --sky-blue-crayola: #56CFE1; */
    --medium-turquoise: #64DFDF;
 /*    --turquoise: #72EFDD; */
    --aquamarine: #80FFDB;

    --rich-black-fogra: #06090E;
    --white: #FAFCFE;
    --beau-blue: #D4E4F6;
    --baby-blue-eyes: #A9C8EC;
    --corante-indigo: #2A486D;
}

*, button, input {
    border: 0;
    background: none;
    text-decoration: none;
    outline: none;
    
    font-family: 'Inter', sans-serif;
    color: #000000;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

ul {
    list-style: none;
}