* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    border: 0;
    background: none;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid royalblue;
}

header img {
    width: 45px;
    height: 45px;
    margin: 0 30px;
}

header a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
    margin-right: 25px;
}

header a:hover {
    color: cornflowerblue;
}

header a.button {
    background: royalblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    list-style: none;
    animation: check 5s linear infinite;
}

.container ul {
    font-size: 100px;
    font-weight: 700;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.container li {
    letter-spacing: 5px;
    list-style: none;
    animation: card 5s linear infinite;
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check img {
    width: 400px;
    height: 400px;
}

.check form {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid royalblue;
    border-radius: 20px;
}

.check form img {
    width: 35px;
    height: 35px;
    margin: 0 15px 0 20px;
}

.check form input {
    width: 80%;
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 18px;
    font-style: italic;
}

.check form button {
    padding: 13px 20px;
    background: royalblue;
    border-radius: 0 20px 20px 0;
    color: white;
    outline: none;
    font-size: 18px;
}

.check form button:hover {
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: royalblue;
    padding: 30px;
}

footer .data {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

footer .company {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

footer .company img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer .company h2 {
    font-style: italic;
    font-weight: 200;
}

footer .social {
    display: flex;
    align-items: center;
}

footer .social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer .credits h2{
    margin-bottom: 5px;
}

@media (min-height: 830px) {
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@keyframes check {
    0% { 
        color: royalblue;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        color: cornflowerblue;
        opacity: 0;
    }
}

li:nth-child(1) {
    animation-delay: 0s;
}

li:nth-child(2) {
    animation-delay: 0.2s;
}

li:nth-child(3) {
    animation-delay: 0.4s;
}

li:nth-child(4) {
    animation-delay: 0.6s;
}

li:nth-child(5) {
    animation-delay: 0.8s;
}

li:nth-child(6) {
    animation-delay: 1s;
}

li:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes card {
    0% {
        color: blueviolet;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        letter-spacing: -5px;
        opacity: 1;
    }

    100% {
        color: rgb(0, 180, 180);
        letter-spacing: 5px;
        opacity: 0;
    }
}